VITE_ELECTION_NETWORK=localhost
VITE_ELECTION_RPC_URL=http://127.0.0.1:8545
VITE_ELECTION_CHAIN_ID=31337
VITE_ELECTION_CHAIN_NAME=Hardhat Localhost
VITE_ELECTION_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
